
[DEFAULT]
os_auth_url = http://iam.savitestbed.ca:5000/v2.0
os_region_name = xxx
os_tenant_name = service
os_password = xxx
os_username = ceilometer
policy_file = /etc/ceilometer/policy.json
verbose = True
debug = True
notification_topics = notifications
rabbit_password = xxx
rabbit_host = xxx
rpc_backend = ceilometer.openstack.common.rpc.impl_kombu
metering_secret = xxx
hypervisor_name = xxx

[openflow]
of_ctrl_host = xxx
of_ctrl_port = 8090
ofi_driver = ryu

[whale]
whale_host = xxx
whale_port = 8976

[physicalserver]
enable_drivers = cpu_time,cpu_percent,cpu_time_percent,virtual_mem,swap_mem,disk_usage,disk_io,boot_time

[keystone_authtoken]
auth_host = iam.savitestbed.ca
auth_version = 2.0
signing_dir = /var/cache/ceilometer
admin_tenant_name = service
admin_password = xxx
admin_user = ceilometer
auth_protocol = http

[database]
connection = xxx
time_to_live = xxx

[email]
from_addr = xxx
email_password = xxx

